.vscode
build
__pycache__

# Generated mockcpp header files
include/mockcpp/ArgumentsListDef.h
include/mockcpp/DefaultMethodAddrGetterDef.h
include/mockcpp/DelegatedMethodDef.h
include/mockcpp/DelegatedMethodGetByVptrDef.h
include/mockcpp/DelegatedMethodGetDef.h
include/mockcpp/DestructorAddrGetterDef.h
include/mockcpp/MethodIndiceCheckerDef.h
include/mockcpp/MethodTypeTraitsDef.h

# Generated test files
tests/ut/TestIsStringEndWith.cpp
tests/ut/TestChainableMockMethod.cpp
tests/ut/TestChainableMockMethodNameKey.cpp
