.vscode
build
__pycache__

# Generated mockcpp header files
include/mockcpp/ArgumentsListDef.h
include/mockcpp/DefaultMethodAddrGetterDef.h
include/mockcpp/DelegatedMethodDef.h
include/mockcpp/DelegatedMethodGetByVptrDef.h
include/mockcpp/DelegatedMethodGetDef.h
include/mockcpp/DestructorAddrGetterDef.h
include/mockcpp/MethodIndiceCheckerDef.h
include/mockcpp/MethodTypeTraitsDef.h

# Generated test files
tests/ut/TestIsStringEndWith.cpp
tests/ut/TestChainableMockMethod.cpp
tests/ut/TestChainableMockMethodNameKey.cpp
tests/ut/TestAny.cpp
tests/ut/TestApiHook.cpp
tests/ut/TestApiHookBase.cpp
tests/ut/TestChainableMockMethodContainer.cpp
tests/ut/TestChainableObject.cpp
tests/ut/TestCheck.cpp
tests/ut/TestConstraintSet.cpp
tests/ut/TestDelegatedMethod.cpp
tests/ut/TestDestructorChecker.cpp
tests/ut/TestFormatter.cpp
tests/ut/TestHolder.cpp
tests/ut/TestIncrementStub.cpp
tests/ut/TestInterfaceInfo.cpp
tests/ut/TestInvocation.cpp
tests/ut/TestInvocationMocker.cpp
tests/ut/TestIsEqual.cpp
tests/ut/TestIsStringContains.cpp
tests/ut/TestIsStringStartWith.cpp
tests/ut/TestMockObject.cpp
tests/ut/TestMockObject2.cpp
tests/ut/TestMockcppSample.cpp
tests/ut/TestReturnObjectList.cpp
tests/ut/TestStaticMethodMocker.cpp
tests/ut/TestStringConstraint.cpp
tests/ut/TestStubContainter.cpp
